server {
    listen 80;
    listen [::]:80 ipv6only=on;
    server_name *.{{ domain }};
    
    return 301 https://www.$server_name$request_uri;
}

server {
    listen 443 default_server ssl;

    root /home/ubuntu/{{ application_name }}/site;
    index index.php index.html;

    access_log off;
    error_log  /var/log/nginx/{{ domain }}-error.log error;

    server_name {{ domain }};

    charset utf-8;

    include h5bp/basic.conf;

    # ssl_certificate           {{ ssl_crt }};
    # ssl_certificate_key       {{ ssl_key }};
    # include h5bp/directive-only/ssl.conf;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location = /favicon.ico { log_not_found off; access_log off; }
    location = /robots.txt  { log_not_found off; access_log off; }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/var/run/php/php7.1-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        # fastcgi_param APPENV {{ app_env }};
        include fastcgi.conf;
    }

    error_page 404 /index.php;
    error_page 500 502 503 504 /50x.html;

    location ~ ^/(fpm/status|fpm/ping)$ {
        access_log off;
        allow 127.0.0.1;
        deny all;
        include fastcgi.conf;
        fastcgi_pass 127.0.0.1:9000;
    }
}
