server {
  listen 80;
  listen [::]:80 ipv6only=on;
  server_name *.{{ staging.domain }};

  root /home/{{ system.user_name }}/{{ application_name }}/site;
  index index.php index.html;

  access_log off;
  error_log /var/log/nginx/{{ staging.domain }}-error.log error;

  server_name {{ staging.domain }};

  charset utf-8;

  include h5bp/basic.conf;

  location / {
    try_files $uri $uri/ /index.php$is_args$args;
  }

  location = /favicon.ico { log_not_found off; access_log off; }
  location = /robots.txt  { log_not_found off; access_log off; }

  location ~ \.php$ {
    try_files $uri =404;
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_pass unix:/var/run/php/php7.1-fpm.sock;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi.conf;
  }

  error_page 404 /index.php;
  error_page 500 502 503 504 /50x.html;

  location ~ ^/(fpm/status|fpm/ping)$ {
      access_log off;
      allow 127.0.0.1;
      deny all;
      include fastcgi.conf;
      fastcgi_pass 127.0.0.1:9000;
  }
}
